body{
    font-family: sans-serif;
    min-height:100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction:column;
}
 .main{
    flex:1 1 auto;
} 
.container{
    max-width: 1200px;
    margin-inline:auto;
}